<template>
  <div>
    <b-container class="mt-6 text-center">
      <label>Введите необходимые данные</label>
      <input placeholder="Имя..." class="base-input" type="number" />
      <input placeholder="Фамилия..." class="base-input" type="number" />
      <input placeholder="Город..." class="base-input" type="number" />
      <button
        @click="$router.push({name: 'index', params: {registered: true}})"
        class="base-button-success mt-2"
      >Зарегистрироваться</button>
      <small class="text-muted mt-1">
        Нажимая кнопку “Зарегистрироваться” вы автоматически соглашаетесь с
        <nuxt-link to="/">пользовательским соглашением.</nuxt-link>
      </small>
    </b-container>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Регистрация"
    };
  }
};
</script>
<style scoped>
.base-button {
  width: 100%;
  background-color: #006b83;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button-success {
  width: 100%;
  background-color: #15cd05;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
.base-input {
  margin-top: 0.4em;
  background-color: #e5e5e5;
  color: black;
  border: none;
  padding: 0.4em;
  width: 100%;
  font-weight: 600;
  outline: none;
}
label {
  /* text-align: center; */
  font-weight: 500;
  font-size: 0.9em;
}
.mt-6 {
  margin-top: 6em;
}
</style>