<template>
  <b-container class="mt-2 text-center">
    <b-row>
      <b-col cols="6">
        <span class="price">8000</span>
      </b-col>
      <b-col cols="6">
        <button @click="$router.push('/order/driver')" class="base-button-success">Согласиться</button>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  head() {
    return {
      title: "Регистрация"
    };
  }
};
</script>
<style scoped>
.row {
  margin-top: 0.4em;
}
.base-button {
  width: 100%;
  background-color: #006b83;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
.base-button-success:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
.base-input {
  margin-top: 0.2em;
  background-color: #e5e5e5;
  color: black;
  border: none;
  padding: 0.4em;
  width: 100%;
  font-weight: 600;
  outline: none;
}
.base-button-success {
  width: 100%;

  background-color: #15cd05;
  color: #fff;
  border: none;
  text-transform: uppercase;
  /* padding: 0.4em 0.7em; */
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
label {
  /* text-align: center; */
  font-weight: 500;
  font-size: 0.9em;
}
.mt-6 {
  margin-top: 6em;
}
</style>