<template>
  <b-container class="mt-2">
    <b-row>
      <b-col cols="6">
        <img style="width: 100%;" src="~assets/img/driver.png" alt />
        <small>Акбаров Руслан Бахромович</small>
        <br />
        <small>+998 (90) 123-45-67</small>
      </b-col>
      <b-col cols="6">
        <img style="width: 100%;" src="~assets/img/car.png" alt />
        <small>Chevrolet Spark 01 A 877 BC</small>
      </b-col>
    </b-row>
    <div class="mt-3">
      <p>
        <b>Адрес отправки:</b>
      </p>
      <p>
        <b>Адрес приёма:</b>
      </p>
      <p>
        <b>Тел. получателя:</b>
      </p>
      <p>
        <b>Тип груза:</b>
      </p>
      <p>
        <b>Тип авто:</b>
      </p>
      <p>
        <b>Сумма:8000</b>
      </p>
    </div>
    <button class="base-button mt-1">Перейти в чат</button>
    <button class="base-button mt-1">Позвонить</button>
  </b-container>
</template>
<style lang="css" scoped>
p {
  margin-top: 0;
  margin-bottom: 0;
}
.base-button {
  width: 100%;
  background-color: #006b83;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
</style>