<template>
  <b-container class="mt-2">
    <div>
      <b>Адрес отправки:</b>
      {{adress.to}}
      <br />
      <b>Адрес приёма:</b>
      {{adress.from}}
      <br />
      <b>Тел. получателя:</b> +998901234567
    </div>
    <select id="cargo-type" class="custom-select base-input mt-2">
      <option selected disabled>Тип груза</option>
      <option value="1">Документы</option>
      <option value="2">Жидкость</option>
      <option value="3">Металл</option>
      <option value="4">Дерево</option>
      <option value="5">Мебель</option>
      <option value="6">Хрупкое</option>
      <option value="7">Продукты</option>
      <option value="8">Песок/Щебень/Цемент</option>
      <option value="9">Строительные материалы</option>
      <option value="10">Техника</option>
    </select>
    <select id="cargo-type" class="custom-select base-input mt-2">
      <option selected disabled>Тип авто</option>
      <option value="1">Легковой автомобиль</option>
      <option value="2">Грузовик</option>
      <option value="3">Фура</option>
      <option value="4">Автоцистерна</option>
      <option value="5">Бетономешалка</option>
      <option value="6">Авторефрижератор</option>
      <option value="7">Контейнеровоз</option>
    </select>
    <select id="cargo-type" class="custom-select base-input mt-2">
      <option selected disabled>Размер груза</option>
      <option value="1">0-2кг</option>
      <option value="2">2-10кг</option>
      <option value="3">10-50кг</option>
      <option value="4">50-100кг</option>
    </select>

    <small class="small text-center">Дополнительное (по желанию)</small>
    <input placeholder="Примерно ожидаемая сумма" class="base-input mt-2" type="text" />
    <input placeholder="Дата и время отправки" class="base-input mt-2" type="text" />
    <input placeholder="Дата и время приёма" class="base-input mt-2" type="text" />
    <input placeholder="Номер телефона получаетля" class="base-input mt-2" type="text" />

    <button @click="$router.push('order/avialable')" class="base-button mt-2">Далее</button>
  </b-container>
</template>

<script>
export default {
  mounted() {},
  data() {
    return {
      adress: {
        from: this.$route.params.adress ? this.$route.params.adress.from : "",
        to: this.$route.params.adress ? this.$route.params.adress.to : ""
      }
    };
  },
  methods: {}
};
</script>

<style scoped>
.small {
  margin: 1em 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
}
.bottom-container {
  position: absolute;
  bottom: 0;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: -0.8rem 0 1rem rgba(0, 0, 0, 0.25);
}
.base-button {
  width: 100%;
  background-color: #006b83;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
.base-input {
  margin-top: 0.2em;
  background-color: #e5e5e5;
  color: black;
  border: none;
  padding: 0.4em;
  width: 100%;
  font-weight: 600;
  outline: none;
}
</style>
