<template>
  <div>
    <b-navbar>
      <b-navbar-nav>
        <b-row align-v="center" align-h="between">
          <b-col cols="2" @click="navButton">
            <fa :icon="icon" />
          </b-col>
          <b-col>
            <span class="header">{{ $route.name }}</span>
          </b-col>
        </b-row>
      </b-navbar-nav>
    </b-navbar>
    <nuxt />
  </div>
</template>
<script>
export default {
  mounted() {
    this.icon = this.$route.name != "index" ? "arrow-alt-circle-left" : "bars";
  },
  data() {
    return {
      icon: "bars"
    };
  },
  methods: {
    navButton() {
      if (this.$route.name != "index") {
        this.$router.go(-1);
      } else {
        console.log("hi");
      }
    }
  }
};
</script>

<style scoped>
.navbar {
  box-shadow: 0.8rem 0 1rem rgba(0, 0, 0, 0.15);
}
.header {
  font-size: 16pt;
  font-weight: 500;
}
</style>
