<template>
  <div>
    <!-- <GMap ref="gMap"></GMap> -->
    <div class="bottom-container">
      <input placeholder="Откуда" v-model="adress.from" class="base-input" type="text" />
      <input placeholder="Куда" v-model="adress.to" class="base-input" type="text" />
      <button
        @click="$router.push({name: 'order', params: {adress: adress}})"
        class="base-button mt-2"
      >Далее</button>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    if (!this.$route.params.registered) this.$router.push("/register");
  },
  components: {},
  data() {
    return {
      adress: {
        from: "",
        to: ""
      }
    };
  },
  methods: {}
};
</script>

<style scoped>
.bottom-container {
  position: absolute;
  bottom: 0;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: -0.8rem 0 1rem rgba(0, 0, 0, 0.25);
}
.base-button {
  width: 100%;
  background-color: #006b83;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  font-weight: 500;
  transition: step-start 0.5s;
  outline: none;
}
.base-button:active {
  outline: none;
  transition: step-end 0.5s;
  transform: scale(0.1);
}
.base-input {
  margin-top: 0.2em;
  background-color: #e5e5e5;
  color: black;
  border: none;
  padding: 0.4em;
  width: 100%;
  font-weight: 600;
  outline: none;
}
</style>
